@model WeatherApplication.Models.ListCollectionDate

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //ViewBag.Title = "Weatherfi";
    DateTime today = DateTime.Now;
    var d = 0;
}

<div class="jumbotron" style="background-color: #013243; color: white;">
    <h1>Aarhus</h1>
    @*<p class="lead">Weather forecast for @Model.City.Name</p>*@
</div>
<div class="container">
    <div class="row">
        @*<div id="accordion">*@
            @foreach (var a in Model.ListOfCollections)
            {
        <div class="col-md">
            
            <div class="card" style="background-color: #013243; color: white; text-align: center;">
                <div class="card-header" id="headingOne">
                    <p style="font-size: 12px; font-weight: 400; margin-bottom: 0px;">@a.DateName</p>
                </div>
            </div>
            @foreach (var k in a.ListOfDateTimes)
            {
                var s = k.DtTxt.ToString().Split(' ')[1].Split(':');
                var time = s[0] + ":" + s[1];
                var caseSwitch = @k.Weather[0].Main;
                var w = "";
                var img = "";
                var filetype = ".png";
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed col-12" style="text-decoration: none;" data-toggle="collapse" data-target="#@d" aria-expanded="false" aria-controls="collapseOne">
                                <div class="row">
                                    <div class="col">@time</div>
                                    <div class="col">

                                        @switch (@caseSwitch)
                                        {
                                            case "Clouds":
                                                w = "Overskyet";
                                                img = "cloud";
                                                break;
                                            case "Rain":
                                                w = "Regn";
                                                img = "rain";
                                                break;
                                            case "Clear":
                                                w = "Skyfrit";
                                                img = "sun";
                                                break;
                                            default:
                                                break;
                                        }
                                        @w
                                    </div>
                                        <div class="col">
                                                <img icon="68" src="../img/@img@filetype"; width="20" height="20" alt=":-)" />
                                        </div>
                                    </div>
                            </button>
                        </h5>
                    </div>

                    <div id="@d" style="height: 0px; display: none !important;" class="show collapse" aria-labelledby="headingOne" aria-expanded="false" data-parent="#accordion">
                        <div class="card-body">
                            @k.Weather[0].Description
                        </div>
                    </div>
                </div>
                { d++; }
            }
        </div>
            }
    </div>
</div>
